rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      match /{collection}/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    match /devotionals/{id} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /quizzes/{id} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
